<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.member.mapper.UserCompanyMapper">

    <resultMap type="com.alex.member.entity.UserCompany" id="UserCompanyMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="workNumber" column="work_number"/>
        <result property="nickname" column="nickname"/>
        <result property="companyId" column="company_id"/>
        <result property="departmentId" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="positionId" column="position_id"/>
        <result property="position" column="position"/>
        <result property="joinTime" column="join_time"/>
        <result property="resignTime" column="resign_time"/>
        <result property="employForm" column="employ_form"/>
        <result property="workingCity" column="working_city"/>
        <result property="correctionTime" column="correction_time"/>
        <result property="jobStatus" column="job_status"/>
        <result property="staffPhoto" column="staff_photo"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <update id="updateDepartmentName">
        update mem_user_company set department_name= #{departmentName}
        where department_id = #{departmentId}
    </update>

    <update id="updatePositionName">
        update mem_user_company set position= #{position}
        where position_id = #{positionId}
    </update>

    <select id="getMaxWorkNumber" resultType="java.lang.Long">
        select max(work_number) from mem_user_company where company_id = #{companyId};
    </select>


</mapper>
